.dynmap-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dynmap-iframe {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}
.dynmap-loading {
  top: 0;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: absolute;
}
