$theme-color: #3390ff;
$secondary-color: #a6abbd;

$theme-gradient-1: #00b5ff;
$theme-gradient-2: #00d2f0;
$theme-gradient-3: #00e7bd;
$theme-gradient-4: #90f48a;
$theme-gradient-5: #f9f871;

$theme-shade-1: #0072dc;
$theme-shade-2: #0055bb;
$theme-shade-3: #003b9a;
$theme-shade-4: #00237a;

$light-gray: #a6abbd;
$dark-gray: #414656;

$main-content-max-width: 1200px;

$mobile-desktop-breakpoint: 800px;
$desktop-margin: 100px;
$mobile-margin: 2rem;
