@use '../../shared/constants/constants.scss';

#homePage {
  height: 100%;

  .banner {
    position: relative;
    width: 100vw;
    height: 50vw;

    img {
      width: 100vw;
      height: 50vw;
      object-fit: cover;
    }

    #pageTitle {
      position: absolute;
      top: 0%;
      left: constants.$mobile-margin;
      height: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: white;
      text-shadow: 1px 1px 2px black;
      h1 {
        font-size: 2.5rem;
      }
      h2 {
        margin-top: 0;
        margin-bottom: 1rem;
      }
    }
  }

  .list-of-nav {
    margin: constants.$mobile-margin;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    grid-auto-rows: minmax(200px, auto);
    .nav-box {
      border: 1px solid constants.$light-gray;
    }
  }

  .paragraph {
    padding: constants.$mobile-margin;
    //color: constants.$theme-shade-2;
    background-color: constants.$light-gray;
  }
  #featureListTitle {
    display: grid;
    place-items: center;
  }
  .list-of-feature {
    margin: 1rem constants.$mobile-margin;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    grid-auto-rows: minmax(300px, auto);
    .feature {
      border: 1px solid constants.$light-gray;
    }
  }
}

@media (min-width: constants.$mobile-desktop-breakpoint) {
  #homePage {
    height: 100%;
    $banner-height: 30vw;

    .banner {
      position: relative;
      width: 100vw;
      height: $banner-height;

      img {
        width: 100vw;
        height: $banner-height;
        object-fit: cover;
      }

      #pageTitle {
        position: absolute;
        top: 0%;
        left: constants.$desktop-margin;
        height: $banner-height;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        text-shadow: 1px 1px 2px black;
        h1 {
          font-size: 4rem;
        }
        h2 {
          margin-top: 0;
          margin-bottom: 1rem;
        }
      }
    }

    .list-of-nav {
      margin: 5rem constants.$desktop-margin;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      grid-auto-rows: minmax(300px, auto);
      .nav-box {
        border: 1px solid constants.$light-gray;
      }
    }

    .paragraph {
      padding: constants.$desktop-margin;
      //color: constants.$theme-shade-2;
      background-color: constants.$light-gray;
    }
    #featureListTitle {
      display: grid;
      place-items: center;
    }
    .list-of-feature {
      margin: 2rem constants.$desktop-margin;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      grid-auto-rows: minmax(300px, auto);
      .feature {
        border: 1px solid constants.$light-gray;
      }
    }
  }
}
