@use '../../shared/constants/constants.scss';
#homePage {
  overflow-y: hidden;
  height: 100%;

  .parallax-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    perspective: 10px;
    perspective-origin: 50% 50%;
    display: flex;
    flex-direction: column;

    .background {
      position: relative;
      width: 100%;
      min-width: 1200px;
      top: 2rem;
      left: 0;
      transform: translateZ(1px);
    }

    .foreground {
      transform-origin: 50%;
      //transform: translateZ(0px);
      margin: 0 0 -10vh 0;
      z-index: 1;
      &-content {
        padding: 5%;
        line-height: clamp(1.5rem, 4vw, 4rem);
        background-color: whitesmoke;
        font-size: clamp(1rem, 2vw, 2rem);
      }
    }
    #pageTitle {
      color: white;
      text-shadow: 1px 1px 2px black;
      width: 100%;
      margin-top: -60vh;
      padding: 0 constants.$page-horizontal-padding;
      margin-bottom: 5vh;
      font-size: 2rem;
      h1 {
        margin-bottom: 0;
      }
      h2 {
        margin-top: 0;
      }
    }
  }
}
