@use '../../shared/constants/constants.scss';

#homePage {
  height: 100%;
  $banner-height: 60vh;

  .banner {
    position: relative;
    width: 100%;
    height: $banner-height;

    img {
      width: 100%;
      height: $banner-height;
      object-fit: cover;
    }

    #pageTitle {
      position: absolute;
      top: 0%;
      left: constants.$mobile-horizontal-margin;
      height: $banner-height;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: white;
      text-shadow: 1px 1px 2px black;

      h1 {
        font-size: 2.5rem;
      }

      h2 {
        margin-top: 0;
        margin-bottom: 1rem;
      }
    }

    #bannerImgDesc {
      display: none;
    }
  }

  .paragraph {
    padding: constants.$mobile-horizontal-margin;
    text-align: center;
    background-color: constants.$light-gray;
  }
  .server-intro{
    line-height: 2rem;
  }

  .list-of-points {
    background-color: constants.$natural-1;
    margin: constants.$desktop-vertical-margin 0;
  }

  #featureListTitle {
    display: grid;
    place-items: center;
  }

  .list-of-feature {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    grid-auto-rows: minmax(300px, auto);

    .feature {
      display: flex;
      flex-direction: column;
      border: 1px solid constants.$light-gray;
    }

    img {
      box-sizing: content-box;
      image-rendering: pixelated !important;
    }

    .title {
      text-align: center;
    }

    .subtitle {
      text-align: center;
    }
  }
}

@media (min-width: constants.$mobile-desktop-breakpoint) {
  #homePage {
    $banner-height: calc(min(100vw, 1920px) / 3);

    .banner {
      position: relative;
      width: 100%;
      height: $banner-height;
      overflow: hidden;

      img {
        width: 100%;
        height: $banner-height;
        object-fit: cover;
      }

      #pageTitle {
        position: absolute;
        top: 0%;
        left: constants.$adaptive-side-spacing;
        height: $banner-height;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        text-shadow: 1px 1px 2px black;

        h1 {
          font-size: 4rem;
        }

        h2 {
          margin-top: 0;
          margin-bottom: 1rem;
        }
      }

      #bannerImgDesc {
        display: block;
        position: absolute;
        bottom: 0;
        right: constants.$adaptive-side-spacing;
        color: white;
        text-shadow: 1px 1px 2px black;
        margin-bottom: 1rem;
      }
    }

    .server-info{
      color: constants.$theme-shade-4;
    }

    .paragraph {
      padding: constants.$desktop-vertical-margin;
      background-color: constants.$light-gray;
    }

    .server-intro{
      line-height: 2rem;
    }

    .list-of-points {
      background-color: constants.$natural-1;
      margin: constants.$desktop-vertical-margin 0;
    }

    #featureListTitle {
      display: grid;
      place-items: center;
    }

    .list-of-feature {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      grid-auto-rows: minmax(300px, auto);

      .feature {
        border: 1px solid constants.$theme-gradient-1;
      }

      img {
        box-sizing: content-box;
        image-rendering: pixelated !important;
      }

      .title {
        text-align: center;
      }

      .subtitle {
        text-align: center;
      }
    }
  }
}