@use '../../shared/constants/constants.scss';

// mobile
.wiki-page {
  display: flex;
  justify-content: center;
  flex-direction: row;

  .wiki-nav {
    display: none;
  }
}

.wiki-container {
  width: 100%;
  .wiki-search {
    padding: 1rem 0;
    display: flex;
    align-items: center;

    input {
      flex-grow: 1;
    }

    input,
    button {
      padding: 0.25rem;
    }
  }
}

.wiki-sign {
  padding: 0;
  list-style: none;
  background: url("../../../public/imageAssets/wiki/style/blank_sign.png");
  width: 192px;
  height: 96px;

  .line {
    font-size: 16px;
    text-align: center;
    height: 24px;
  }
}

.wiki-article-list {
  font-size: 1rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  .link-to-article {
    color: constants.$theme-shade-1;
    border-bottom: 1px solid constants.$theme-gradient-1;
  }
}

@media (min-width: constants.$mobile-desktop-breakpoint) {
  .wiki-page {
    display: flex;
    gap: 2rem;

    .wiki-nav {
      display: block;
    }
  }

  .wiki-container {
    
    .wiki-search {
      padding: 1rem 0;
      display: block;

      input,
      button {
        padding: 0.25rem;
      }
    }
  }
  #wikiNoResult {
    padding: 1rem 0;
    border-bottom: 2px solid constants.$theme-shade-3;

    svg {
      color: red;
      margin-right: 1rem;
    }
  }
  .wiki-article-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;

    .link-to-article {
      border-bottom: 1px solid constants.$theme-gradient-1;
    }
  }
}

/* custom recipe page */
.custom-recipe-page {
  
}