@use '../../shared/constants/constants.scss';

.image-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;

    .image-preview{
        max-width: 100%;
        min-width: 20rem;
        flex-grow: 1;
        flex-basis: 24%;
        transition: 0.5s;
    }

    .image-preview:hover{
        transform:scale(1.1);
        transition: 0.5s;
    }
}

.image-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}