@use '../../constants/constants.scss';

footer {
  display: none;
}
@media (min-width: constants.$mobile-desktop-breakpoint) {
  footer {
    display: block;
    background-color: constants.$dark-gray;
    color: white;
    .container {
      padding: 1rem constants.$desktop-margin;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
