@use '../../constants/constants.scss';

// mobile view
.nav-component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 4rem;
  align-items: center;

  #bluedcraft {
    display: none;
  }
  .nav-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: constants.$dark-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0;
    transition: 0.5s;
    transition-timing-function: linear;

    .nav-icon {
      font-size: 1.2rem;
    }
  }
  .nav-link:is(:hover, :focus) {
    outline: 0;
    background-color: constants.$light-gray;
    transition: 0.5s;
    transition-timing-function: linear;
  }
  .nav-link-active {
    color: constants.$theme-color;
    transition: 0.5s;
    transition-timing-function: linear;
  }
}

// desktop version
@media (min-width: constants.$mobile-desktop-breakpoint) {
  .nav-component {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0 max(calc(calc(100% - 1920px) / 2), #{constants.$desktop-margin});
    //   padding: 0 constants.$desktop-margin;
    box-shadow: 0 1px 3px lightgray;
    align-items: center;
    height: 4rem;
    z-index: 1000;
    background-color: white;

    #bluedcraft {
      display: block;
      margin-right: 1rem;
    }
    .nav-link {
      height: 50%;
      width: max-content;
      text-decoration: none;
      color: black;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 0.5rem;
      margin: 0 0.5rem;
      transition: 0.5s;
      transition-timing-function: linear;

      .nav-icon {
        font-size: 1rem;
      }
      img {
        height: 1rem;
      }
    }
    .nav-link:is(:hover, :focus) {
      outline: 0;
      box-shadow: 0 -3px inset constants.$theme-gradient-3;
      background-color: transparent;
      transition: 0.5s;
      transition-timing-function: linear;
    }
    .nav-link-active {
      box-shadow: 0 -3px inset constants.$theme-color;
      transition: 0.5s;
      transition-timing-function: linear;
    }
    .nav-icon {
      margin-right: 1ch;
    }
  }
}
