@use '../../constants/constants.scss';

// mobile view
.nav-component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  #bluedcraft {
    display: none;
  }
}

// desktop version
@media (min-width: constants.$mobile-desktop-breakpoint) {
  .nav-component {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0 constants.$adaptive-side-spacing;
    box-shadow: 0 1px 6px constants.$secondary-color;
    z-index: 10;

    #bluedcraft {
      display: block;
    }
    #bluedcraftMobile {
      display: none;
    }
  }
}
