@use '../../shared/constants/constants.scss';
#guide {
  #guide1 {
    padding: 2rem constants.$mobile-horizontal-margin;
  }
  #guide2 {
    padding: 2rem constants.$mobile-horizontal-margin;
  }
  input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
  }
}

@media (min-width: constants.$mobile-desktop-breakpoint) {
  #guide {
    font-size: 1.25rem;

    #guide1 {
      padding: 2rem constants.$desktop-vertical-margin;
    }
    #guide2 {
      padding: 2rem constants.$desktop-vertical-margin;
    }

    a {
      color: constants.$theme-gradient-1;
    }
  }
}
