@use './shared/constants/constants.scss';

// override scroll bar
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(64, 64, 64, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
// @media (max-width: $mobile-desktop-breakpoint) {
//   ::-webkit-scrollbar {
//     width: 0px;
//     height: 0px;
//   }
// }

//most pages should have similar style
.page {
  height: 100%;
  max-width: 1920px;
  margin: auto;
}

#topNav {
  display: none;
}
@media (min-width: constants.$mobile-desktop-breakpoint) {
  #topNav {
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
    display: block;
  }
}
#bottomNav {
  z-index: 10;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: block;
  background-color: white;
}
@media (min-width: constants.$mobile-desktop-breakpoint) {
  #bottomNav {
    display: none;
  }
}
