@use './shared/constants/constants.scss';
@use './shared/styleSheets/anchor.scss';
@use './shared/styleSheets/button.scss';

body {
  height: auto !important;
}

// override scroll bar
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(64, 64, 64, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// most pages should have similar style.
// Mobile version stylesheet starts.

.page {
  height: 100%;
  padding-bottom: 4rem;
}

.adaptive-margin{
  margin: 1rem constants.$mobile-horizontal-margin;
}

#topNav {
  display: none;
}
#bottomNav {
  z-index: 10;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: block;
  background-color: white;
}

// Mobile version stylesheet ends.

// Regular version stylesheet starts. 

@media (min-width: constants.$mobile-desktop-breakpoint) {
  .page {
    padding-top: 2rem;
  }
  .adaptive-margin{
    margin-left: constants.$adaptive-side-spacing;
    margin-right: constants.$adaptive-side-spacing;
  }
  #topNav {
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
    display: block;
  }
  #bottomNav {
    display: none;
  }
}
