@use './shared/constants/constants.scss';
@use './shared/styleSheets/anchor.scss';
@use './shared/styleSheets/button.scss';

body {
  height: auto !important;
}

// override scroll bar
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(64, 64, 64, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
// @media (max-width: $mobile-desktop-breakpoint) {
//   ::-webkit-scrollbar {
//     width: 0px;
//     height: 0px;
//   }
// }

// most pages should have similar style.
// Mobile version stylesheet starts.

.page {
  margin-top: 1rem;
  height: 100%;
  max-width: 1920px;
  padding-bottom: 4rem;
}

.adaptive-margin{
  margin: 1rem constants.$mobile-margin;
}

#topNav {
  display: none;
}
#bottomNav {
  z-index: 10;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: block;
  background-color: white;
}

// Mobile version stylesheet ends.

// Regular version stylesheet starts. 

@media (min-width: constants.$mobile-desktop-breakpoint) {
  .page {
    margin-top: 4rem;
  }
  .adaptive-margin{
    margin-left: constants.$desktop-margin;
    margin-right: constants.$desktop-margin;
  }
  #topNav {
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
    display: block;
  }
  #bottomNav {
    display: none;
  }
}
